@page "/blog"

<main class="container" style="margin-top: 106px;">
    <div class="row">
        @foreach (Blog blogs in blog)
        {
            <div class="mb-72">
                <img src="@blogs.Image"
                class="w-100"
                     style="height: 600px" alt="">

                <div class="row color-9F9F9F mt-3">
                    <div class="col-md-2">
                        <i class="fa-solid fa-user"></i> Admin
                    </div>
                    <div class="col-md-2">
                        <i class="fa-solid fa-calendar-days"></i> @DateTime.Now.ToShortDateString()
                    </div>
                    <div class="col-md-2">
                        <i class="fa-solid fa-tag"></i> Trà sữa
                    </div>
                </div>
                <p class="fw-medium mt-3" style="font-size: 30px;">@blogs.Title</p>
                <p class="color-9F9F9F mt-3" style="text-align: justify;">
                    @blogs.Decription
                </p>
                <hr>
            </div>
        }
    </div>
</main>


@code {
    [Inject]
    public NavigationManager NV { get; set; }

    string url = "http://localhost:20714/api/Blogs";

    public IEnumerable<Blog> blog { get; set; } = Enumerable.Empty<Blog>();

    protected async override Task OnInitializedAsync()
    {
        await CallAPI();
    }

    async Task CallAPI()
    {
        using (var httpClient = new HttpClient())
        {
            using (var response = await httpClient.GetAsync(url))
            {
                string apiResponse = await response.Content.ReadAsStringAsync();
                blog = JsonConvert.DeserializeObject<List<Blog>>(apiResponse);
            }
        }
    }
}
