@page "/blog"

<style>
    /* giới hạn dòng và dấu .. */
    .ellipsis {
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    }

    .block-ellipsis {
        display: block;
        display: -webkit-box;
        max-width: 100%;
        margin: 0 auto;
        line-height: 1.7;
        -webkit-line-clamp: 6;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
    }

</style>
<main class="container" style="margin-top: 106px;">
    <div class="row">
        @foreach (Blog blogs in blog)
        {
            <div class="col-md-6 mb-72">
                <img src="@GetImagePath(@blogs.Image)" class="w-100" style="height: 400px" alt="">
            </div>
            <div class="col-md-6 mb-72">
                <div class="row color-9F9F9F mt-3">
                    <div class="col-md-4">
                        <i class="fa-solid fa-user"></i> Admin
                    </div>
                    <div class="col-md-4">
                        <i class="fa-solid fa-tag"></i> Trà sữa
                    </div>
                </div>
                <p class="fw-medium mt-3 block-ellipsis" style="font-size: 30px; word-wrap: break-word; word-break: break-all;">
                    @blogs.Title
                </p>
                <p class="color-9F9F9F mt-3 text-break block-ellipsis">
                    @blogs.Decription
                </p>
                <a class="color-9F9F9F" @onclick="() => NavigateToBlogDetail(blogs.Id)">Xem chi tiết</a>
                <hr>
            </div>
        }
    </div>
</main>


@code {
    [Inject]
    public NavigationManager NV { get; set; }
    [Parameter]
    public int BlogID { get; set; }

    string imageBasePath = "http://localhost:49972/images/";
    string url = "http://localhost:20714/api/Blogs";

    public IEnumerable<Blog> blog { get; set; } = Enumerable.Empty<Blog>();
    private void NavigateToBlogDetail(int id)
    {
        NV.NavigateTo($"/blog/{id}");
    }
    protected async override Task OnInitializedAsync()
    {
        await CallAPI();
    }

    async Task CallAPI()
    {
        using (var httpClient = new HttpClient())
        {
            using (var response = await httpClient.GetAsync(url))
            {
                string apiResponse = await response.Content.ReadAsStringAsync();
                blog = JsonConvert.DeserializeObject<List<Blog>>(apiResponse);
            }
        }
    }

    private string GetImagePath(string imageName) => $"{imageBasePath}{imageName}";
}
