@page "/CreateBlog"
@using System.Text
<link href="/validation.css" rel="stylesheet" />

<EditForm Model="BlogData" OnValidSubmit="CreateeeBanner">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <h1>Thêm Bài Viết</h1>

    <div class="form-group">
        <label class="font-weight-bold">Tiêu Đề</label>
        <ValidationMessage For="@(() => BlogData.Title)" />
        <InputText class="form-control" @bind-Value="BlogData.Title" />
    </div>
    <div class="form-group">
        <label class="font-weight-bold">Hình Ảnh</label>
        <InputFile OnChange="ChangeHandler" />
    </div>
    <div class="form-group">
        <label class="font-weight-bold">Nội Dung</label>
        <ValidationMessage For="@(() => BlogData.Decription)" />
        <InputTextArea class="form-control" @bind-Value="BlogData.Decription">
        </InputTextArea>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
    <p class="text-success p-2 mx-auto">@FormSubmitMessage</p>
</EditForm>

<p>@apiResponse</p>

@code {
    string urlPro = "http://localhost:20714/api/Blogs";
    string url = "http://localhost:20714/api/Blogs/UploadFile";
    private Blog BlogData = new Blog();
    Blog ReceivedBlog;
    public string FormSubmitMessage { get; set; } = null;
    public string apiResponse { get; set; }
    public IBrowserFile F;

    private void ChangeHandler(InputFileChangeEventArgs e)
    {
        F = e.File;
    }

    public async Task CreateeeBanner()
    {
        if (F != null)
        {
            using (var ms = F.OpenReadStream(968435456))
            {
                var content = new MultipartFormDataContent();
                content.Add(new StreamContent(ms), "file", F.Name);
                content.Add(new StringContent(BlogData.Title.ToString()), "title");
                content.Add(new StringContent(BlogData.Decription.ToString()), "decription");

                using (var httpClient = new HttpClient())
                {
                    var response = await httpClient.PostAsync(url, content);
                    response.EnsureSuccessStatusCode();
                    apiResponse = await response.Content.ReadAsStringAsync();
                    FormSubmitMessage = "Thêm thành công";
                }
            }
        }
        else
        {
            apiResponse = "Vui lòng chọn hình ảnh";
        }
    }
}