@page "/AddCategories"
@using Microsoft.AspNetCore.Components.Forms
@using System.Text
@using System.Net.Http.Headers

<div class="panel-heading"><h2>Thêm danh mục sản phẩm</h2></div>

<EditForm Model="bannerData" OnValidSubmit="CreateeeBanner">
    <DataAnnotationsValidator />
    <ValidationSummary />
    
    <div class="form-group">
        <label class="font-weight-bold">Tiêu Đề</label>
        <InputText class="form-control" @bind-Value="bannerData.Name" />
        <div class="text-danger ps-3">
            <ValidationMessage For="()=>bannerData.Name"></ValidationMessage>
        </div>
    </div>
    <div class="form-group">
        <label class="font-weight-bold">Hình Ảnh</label>
        <InputFile OnChange="ChangeHandler" />
        <div class="text-danger ps-3">
            <ValidationMessage For="()=>bannerData.Image"></ValidationMessage>
        </div>
    </div>
    <div class="form-group">
        <label class="font-weight-bold">Trạng Thái</label>
        <InputSelect class="form-control" @bind-Value="bannerData.Status">
            <option value="0" selected>Hợp lệ</option>
            <option value="1">Không hợp lệ</option>
        </InputSelect>

        <div class="text-danger ps-3">
            <ValidationMessage For="()=>bannerData.Status">

            </ValidationMessage>
        </div>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary">Thêm Danh Mục</button>
    </div>

</EditForm>
<h2 class="text-success p-2">@FormSubmitMessage</h2>


@code {
    string url = "http://localhost:20714/api/Categories/UploadFile";
    private Categories bannerData = new Categories();
    public string FormSubmitMessage { get; set; } = null;
    public string apiResponse { get; set; }
    public IBrowserFile F;

    private void ChangeHandler(InputFileChangeEventArgs e)
    {
        F = e.File;
    }

    private async Task CreateeeBanner()
    {
        if (F != null)
        {
            using (var ms = F.OpenReadStream(968435456))
            {
                var content = new MultipartFormDataContent();
                content.Add(new StringContent(bannerData.Name ?? string.Empty), "name");
                content.Add(new StreamContent(ms), "file", F.Name);
                content.Add(new StringContent(bannerData.Status.ToString()), "status");

                using (var httpClient = new HttpClient())
                {
                    var response = await httpClient.PostAsync(url, content);

                    if (response.IsSuccessStatusCode)
                    {
                        apiResponse = await response.Content.ReadAsStringAsync();
                        FormSubmitMessage = "Thêm thành công";
                    }
                    else
                    {
                        apiResponse = $"Error: {response.StatusCode} - {await response.Content.ReadAsStringAsync()}";
                        FormSubmitMessage = "Thêm thất bại";
                    }
                }
            }
        }
        else
        {
            apiResponse = "Vui lòng chọn hình ảnh";
            FormSubmitMessage = "Vui lòng chọn hình ảnh";
        }
    }
}
