@page "/EditCategoris/{id:int}"
@using System.Text
@inject IJSRuntime jsRuntime

<div class="panel-heading"><h2>Sửa loại sản phẩm </h2></div>

<EditForm Model="proData" OnValidSubmit="HandleValidSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div class="form-group">
        <label class="font-weight-bold">Tiêu Đề</label>
        <InputText class="form-control" @bind-Value="proData.Name" />
        <div class="text-danger ps-3">
            <ValidationMessage For="()=>proData.Name"></ValidationMessage>
        </div>
    </div>
    <div class="form-group">
        <label class="font-weight-bold">Trạng Thái</label>
        <InputSelect class="form-control" @bind-Value="proData.Status">
            <option value="0" selected>Hợp lệ</option>
            <option value="1">Không hợp lệ</option>
        </InputSelect>

        <div class="text-danger ps-3">
            <ValidationMessage For="()=>proData.Status">

            </ValidationMessage>
        </div>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary">Sửa Danh Mục</button>
    </div>

</EditForm>
<h2 class="text-success p-2">@FormSubmitMessage</h2>

@code {

    string urlCate = "http://localhost:20714/api/Categories";
    public Categories proData = new Categories();
    Categories ReceivedBlog;
    public string FormSubmitMessage { get; set; } = string.Empty;

    private bool IsLoggedIn = false;
    private int RoleID = 0;

    [Parameter]
    public int Id { get; set; }

    protected async override Task OnInitializedAsync()
    {
        await GetSession();
    }

    private async Task GetSession()
    {
        var userInfoJson = await jsRuntime.InvokeAsync<string>("sessionStorage.getItem", "userSession");
        if (!string.IsNullOrEmpty(userInfoJson))
        {
            var userInfo = JsonConvert.DeserializeObject<UserLogin>(userInfoJson);
            if (userInfo != null)
            {
                IsLoggedIn = true;
                RoleID = userInfo.RoleID;
            }
        }
    }

    protected async override Task OnParametersSetAsync()
    {
        using (var httpClient = new HttpClient())
        {
            using (var response = await httpClient.GetAsync($"{urlCate}/{Id}"))
            {
                string apiResponse = await response.Content.ReadAsStringAsync();
                var categoriesList = JsonConvert.DeserializeObject<List<Categories>>(apiResponse);
                proData = categoriesList.FirstOrDefault(c => c.CateID == Id);
            }
        }
    }

    public async Task HandleValidSubmit()
    {
        ReceivedBlog = new Categories();
        using (var httpClient = new HttpClient())
        {
            var jsonContent = new StringContent(JsonConvert.SerializeObject(proData), Encoding.UTF8, "application/json");

            using (var response = await httpClient.PutAsync($"{urlCate}/{proData.CateID}", jsonContent))
            {
                string apiResponse = await response.Content.ReadAsStringAsync();
                if (response.IsSuccessStatusCode)
                {
                    ReceivedBlog = JsonConvert.DeserializeObject<Categories>(apiResponse);
                    FormSubmitMessage = "Sửa  thành công !";
                }
                else
                {
                    FormSubmitMessage = "Sửa thất bại: " + apiResponse;
                }
            }
        }
    }

    public void HandleInvalidSubmit() => FormSubmitMessage = "Dữ liệu không hợp lệ, vui lòng kiểm tra lại.";
}
