@page "/CreateBanner"
@using System.Text
<link href="/validation.css" rel="stylesheet" />

<h1 class="bg-info text-white">Create Reservation</h1>
<h2 class="text-success p-2">@FormSubmitMessage</h2>

<EditForm Model="bannerData" OnValidSubmit="CreateeeBanner">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <div class="form-group">
        <label>Image</label>
        <InputFile OnChange="ChangeHandler" />
    </div>
    <div class="form-group">
        <label>Title</label>
        <ValidationMessage For="@(() => bannerData.Title)" />
        <InputText class="form-control" @bind-Value="bannerData.Title" />
    </div>
    <div class="form-group">
        <label>Status</label>
        <ValidationMessage For="@(() => bannerData.Status)" />
        <InputSelect @bind-Value="bannerData.Status">
            <option value="0">Hợp lệ</option>
            <option value="1">Không hợp lệ</option>
        </InputSelect>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
</EditForm>

<p>@apiResponse</p>

@code {
    string url = "http://localhost:20714/api/Banners/UploadFile";
    private Banner bannerData = new Banner();
    public string FormSubmitMessage { get; set; } = "Reservation Not Created";
    public string apiResponse { get; set; }
    public IBrowserFile F;

    private void ChangeHandler(InputFileChangeEventArgs e)
    {
        F = e.File;
    }

    public async Task CreateeeBanner()
    {
        if (F != null)
        {
            using (var ms = F.OpenReadStream(968435456))
            {
                var content = new MultipartFormDataContent();
                content.Add(new StreamContent(ms), "file", F.Name);
                content.Add(new StringContent(bannerData.Title.ToString()), "title");
                content.Add(new StringContent(bannerData.Status.ToString()), "status");

                using (var httpClient = new HttpClient())
                {
                    var response = await httpClient.PostAsync(url, content);
                    response.EnsureSuccessStatusCode();
                    apiResponse = await response.Content.ReadAsStringAsync();
                    FormSubmitMessage = "Banner Created";
                }
            }
        }
        else
        {
            apiResponse = "Please select a file to upload.";
        }
    }
}
